// =========================================
//             GENERELS / RESETS
// =========================================

*
{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

img
{
    display: block;
    max-width: 100%;
}

    body
    {
        font-family: sans-serif;
        display: flex;

        main
        {
            background: linear-gradient(120deg, rgba(135, 196, 255, 1) 50%, #1696ff 100%) no-repeat;
            flex-basis: 500px;
            height: 100vh;
            // border-radius: 16px;
            padding: 18px;
            display: flex;
            flex-direction: column;
            gap: 3vh;
            margin-inline: auto;

            form
            {
                position: relative;
                display: flex;

                input
                {
                    display: block;
                    margin-inline: auto;
                    font-size: 18px;
                    height: 48px;
                    border: none;
                    box-shadow: 0px 0px 10px 0px inset rgba(0, 0, 0, 0.469);
                    border-radius: 24px;
                    flex-basis: 400px;
                    text-align: center;
                }

                img
                {
                    position: absolute;
                    width: 22px;
                    filter: opacity(0.5);
                    right: 50px;
                    top: 1.5vh;
                }
            }

            div 
            {
                background-color: #39a6ff86;
                border-radius: 16px;
                padding: 20px;
                color: white;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.107);

                h1
                {
                    font-size: 24px;
                }

                img
                {
                    width: 180px;
                    margin-inline: auto;
                }
                
                h2
                {
                    color: rgb(255, 241, 132);
                    font-size: 32px;
                }

                h2, h4
                {
                    margin-bottom: 2vh;
                }
            }

            section
            {
                background-color: #c8e9fb5d;
                color: #1e5989;
                padding: 24px;
                border-radius: 16px;
                display: grid;
                grid-template-columns: minmax(130px, 1fr) minmax(120px, 1fr);
                gap: 18px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.099);
                
                h4, p
                {
                    font-size: 16px;
                }
            }
        }
    }

@media screen and (min-width: 800px)
{
    body
    {
        margin-top: 32px;
        padding-bottom: 32px;

        main
        {
            border-radius: 16px;
            height: 100%;

            form 
            {
                img 
                {
                    position: absolute;
                    width: 22px;
                    filter: opacity(0.5);
                    right: 50px;
                    top: 1.5vh;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    body {

        main {
            

            form {
                img {
                    right: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 799px) {
    body {

        main {

            form {
                img {
                    right: 45px;
                }
            }
        }
    }
}
